#!/bin/bash

# use colors if available
if [ -x /usr/bin/dircolors ]; then
  test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
  alias ls='ls --color=auto --group-directories-first'
  alias grep='grep --color=auto'
else
  alias ls='ls --group-directories-first'
fi

# ls
alias ll='ls -alF'
alias la='ls -AF'

# basic aliases
alias cls='clear'
alias cd..='cd ..'
alias cd...='cd ../..'
alias cd....='cd ../../..'
alias services='service --status-all'

# WSL aliases
if [ -e /proc/sys/fs/binfmt_misc/WSLInterop ]; then
  alias e='explorer.exe .'
  alias dotnet='/mnt/c/Program\ Files/dotnet/dotnet.exe'
fi
