#!/bin/bash

# use colors if available
if [ -x /usr/bin/dircolors ]; then
  test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
  alias ls='ls --color=auto --group-directories-first'
  alias grep='grep --color=auto'
else
  alias ls='ls --group-directories-first'
fi

if type colorls > /dev/null; then
  alias l='colorls --sd'
  alias la='colorls -A --sd'
  alias ll='colorls -lA --sd'
  alias lt='colorls --tree --sf'
else
  alias l='ls'
  alias la='ls -AF'
  alias ll='ls -alF'
fi

alias cls='clear'
alias cd..='cd ..'
alias cd...='cd ../..'
alias cdd='cd -'

# WSL aliases
if [ -e /proc/sys/fs/binfmt_misc/WSLInterop ]; then
  alias e='explorer.exe .'
  if [ -d "/mnt/c/Program Files/dotnet" ]; then
    # Alias instead of PATH to avoid having to type dotnet.exe
    alias dotnet='/mnt/c/Program\ Files/dotnet/dotnet.exe'
  fi
fi
