[init]
  defaultBranch = main
[user]
  name = Dawid Bieniek
  email = dawid_b01@wp.pl
  username = dawidbieniek
[core]
  editor = nano
[help]
  autocorrect = 30
[color]
  ui = auto
[fetch]
  prune = true
[pull]
  rebase = true
[color "branch"]
  current = yellow bold
  local = green bold
  remote = cyan bold
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  added = green bold
  changed = yellow bold
  untracked = red bold
##########
[alias]
  a = add --all
  c = commit -m
  am = commit --amend --no-edit --all
####
  o = checkout
  ob = checkout -b
####
  b = branch
  ba = branch -a
  bd = branch -d
  bdf = branch -df
###
  ms = merge --squash
####
  f = fetch
####
  d = diff
  df = diff --name-only
####
  r = reset
  rh = reset --hard
####
  s = status
####
  st = stash
  stc = stash clear
  stp = stash pop
####
  lp = log --pretty=one
