[init]
  defaultBranch = main
[user]
  name = Dawid Bieniek
  email = dawid_b01@wp.pl
  username = dawidbieniek
[core]
  editor = nano
  autoclrf = true
[help]
  # prompt autocorrected command when invalid is passed
  autocorrect = prompt
[fetch]
  # remove local branches if remote has been deleted
  prune = true
  pruneTags = true
  # fetch all branches
  all = true
[pull]
  # rebase instead of merging
  rebase = true
[push]
  # setup upstream branch to remote
  autoSetupRemote = true
  # create tags on remote from local
  followTags = true
[merge]
  # also show old code in merge conflicts (requires v2.35.0+)
  conflictStyle = zdiff3
[branch]
  # sort branches by commit date
  sort = committerdate
[column]
  ui = auto
[tag]
  # sort tags by their version
  sort = version:refname
[diff]
  # use newer diff algorithm
  algorithm = histogram
  # show moved code as moved instead of deleted and created
  colorMoved = plain
  # change file prefixes from a/ & b/ to i/ (index) w/ (working dir) c/ (commit)
  mnemonicPrefix = true
  # detect file renames
  renames = true
[color]
  ui = auto
[color "branch"]
  current = green bold
  local = yellow bold
  remote = cyan bold
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  added = green bold
  changed = yellow bold
  untracked = red bold
##########
[alias]
  a = add --all
  c = commit -m
  amen = commit --amend --no-edit --all
####
  o = checkout
  ob = checkout -b
####
  b = branch
  ba = branch -a
  bd = branch -d
  bdf = branch -df
####
  ms = merge --squash
####
  f = fetch
####
  d = diff
  df = diff --name-only
####
  r = reset
  rh = reset --hard
  rs = reset --soft
####
  s = status
####
  st = stash --include-untracked
  stc = stash clear
  stp = stash pop
####
  lp = log --pretty=one
